<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div formGroupName="userData">
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text"
             class="form-control"
             id="email"
             formControlName="email">
      <label for="password">Password</label>
      <input type="password"
             class="form-control"
             id="password"
             formControlName="password">
             <div *ngIf="!myForm.controls['userData'].controls['email'].valid">
              Invalid Email
            </div>
    </div>
  </div>



  <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
</form>
